body {
  font-family: "Times New Roman", Georgia, Serif;
  background: url(http://crop.alphacoders.com/images/318/960-540-318730.jpg?6529); 
  background-repeat: no-repeat;
  background-size: cover; 
}

h1{
    font-size: 50px;
}

#quizbox {
  font-size: 22px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 375px;
  width: 550px;
  border: 2px solid #000;
  border-radius: 5px;
  background: rgb(255, 255, 255) transparent;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: left;

}

h1 {
    color: #000;
    font-weight: bold;
}

h2{
    font-size: 30px;
    margin-top: 50px;
    color: #000;
}

#button {
    color: #000;
    border: 1px solid #000;
    background-color: #d5d5d5;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;


}